.header{
    text-align: center;
    display: flex;
    background-color: black;
    justify-content: center;
    align-items: center;
}
.logo{
   height: 60px;
}
.header nav{
    text-align: start;
    
}
.header nav a{
    text-decoration: none;
    color: white;
    padding: 10px;
    font-size: 22px;
}
.header nav :hover{
    background-color:gray
}
.search-container input{
    width: 180px;
    border-radius: 10px;
    height: 25px;
    border: 2px solid rgb(248, 6, 6);
    padding-left: 10px;
    font-size: 18px;
}
.search-container input :hover{
    border: 3px solid rgb(238, 144, 175);
}