.header{
    text-align: center;
    display: flex;
    background-color: black;
    justify-content:space-evenly;
    align-items: center;
    padding-left: 150px;
}
.header h3{
    color:rgb(15, 233, 160);
    font-size: 24px;
}
.header :hover h3{
    color: rgb(240, 168, 240);

}
.header a{
    text-decoration: none;
}
.header nav{
    padding-right:150px;
    
}
.header nav a{
    text-decoration: none;
    color: white;
    padding: 10px;
    font-size: 22px;
    font-weight: 700;
}
.header nav :hover{
    background-color:rgb(247, 101, 101)
}
.search-container input{
    width: 200px;
    border-radius: 10px;
    height: 30px;
    border: 2px solid rgb(6, 200, 248);
    padding-left: 10px;
    font-size: 18px;
}
.username{
    color: rgb(170, 170, 156);
    font-size: 16px;
    padding-right: 8px;
}
.login{
    color: rgb(255, 255, 255);
    font-size: 20px;
    font-weight: 700;
}
.logout{
    color: red;
    font-size: 24px;
    font-weight: 600;
}